<% provide(:title, "Home") %>


  <h1 class="BookTitle">Vitamina D</h1>
  <h1 id="subtitle">La vitamina de la vida</h1>
  <div class="container-fluid" id="firstcont">
    <div class="row">
      <div class="col-md-6">
        
        <iframe width="535px" height="301px" src="//www.youtube.com/embed/DokUjuZmpCE" frameborder="0" allowfullscreen></iframe>  

      </div>

      <div class="col-md-6">
        <h4 id="firsttext">En digital think ofrecemos cursos relacionados con el desarrollo de aplicaciones web y marketing digital</h4>


        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">

            <li class="active"><a href="#"><img alt="Libro en español" src="/assets/spanishbook.jpg" /></a></li>
            <li class="active"><a href="#"><img alt="Libro en ingles" src="/assets/englishbook.jpg" /></a></li>
            <li class="active"><a href="#"><img alt="Articulo en español" src="/assets/spanisharticle.jpg" /></a></li>
            <li class="active"><a href="#"><img alt="Articulo en ingles" src="/assets/englisharticule.jpg" /></a></li>
            
          </ul> 
        </div>

      </div>
    </div>
  </div>



  <div class="container-fluid" id="secondcont">
     <div class="row">
        <p>aqui ira un resumen</p>
     </div>

  </div>
 